/* =========================
   GLOBAL STYLES
========================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Inter, Arial;
    background: #685f74;
    color: #f3e0ec;
}

header {
    padding: 10px 0 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header h1 {
    font-size: 1.6rem;
    font-weight: lighter;
    padding-left: 20px;
}

section {
    padding: 60px 20px 20px 20px;
    min-height: 70vh;
}

footer {
    background: #ead5e6;
    color: #685f74;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    min-height: 20vh;
}

#intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
}

#intro-container h2 {
    font-size: 2.5rem;
    text-align: left;

}

#p-container {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 600px;
    text-align: center;
}


#buttons-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* pushes items to bottom */
    align-items: flex-end;
    /* aligns buttons to the right */
    padding-left: 100px;
}


button {
    background: #685f74;
    color: #f3e0ec;
    border-color: #f3e0ec;
    margin-bottom: 5px;
    width: 200px !important;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

button:hover {
    background: #f3e0ec;
    color: #685f74;
}


/* IMAGES */
.podcast-cover {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

#podcast-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


footer {
    background: #ead5e6;
    color: #685f74;
}

footer h1 {
    font-size: clamp(2rem, 5vw, 5rem);
}

.social-icon {
    width: 40px;
    height: 40px;
}


.social-link img {
    height: 40px;
    width: 40px;
}

.social-link img:hover {
    transition: ease-in-out 0.2s;
}


/* =========================
   MODAL
========================= */

.modal {

    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .6);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {

    background: #685f74;
    color: #f3e0ec;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 20px 60px rgba(0, 0, 0, .5);
}

.modal h2 {
    margin-bottom: 20px;
}

.platform {
    display: block;
    margin: 10px 0;
    padding: 14px;
    border-radius: 12px;
    border: #f3e0ec 1px solid;
    background: #685f74;
    text-decoration: none;
    color: #f3e0ec;
    transition: .2s;
}

.platform:hover {
    background: #f3e0ec;
    color: #685f74;

}

/* Close button */

.close {
    margin-top: 20px;
    color: #f3e0ec;
    cursor: pointer;
}

.close:hover {
    color: white;
}


/* RESPONSIVE (mobile/tablet) */
@media (max-width: 768px) {
    .intro-title {
        font-size: 1.8rem;
        text-align: center;
    }

    .intro-text {
        text-align: center;
        font-size: 1rem;
    }

    button {
        width: 80%;
    }
}